@import url("https://fontlibrary.org/face/dejavu-sans-mono");

/* Vars  */

:root {
  /* general stuff */
  --soft-white: #fafafa;

  --font-color-light-mode: #333333;
  --font-color-dark-mode: var(--soft-white);
  --font-color-root: var(--soft-white);

  --font-em-color-light-mode: black;
  --font-em-color-dark-mode: var(--soft-white);
  --font-em-color-root: var(--soft-white);

  --background-color-light-mode: var(--soft-white);
  --background-color-dark-mode: black;
  --background-color-root: black;

  --background-card-light-mode: #d3d3d3;
  --background-card-dark-mode: #262626;
  --background-card-root: #262626;

  color: var(--font-color-root);
  background-color: var(--background-color-root);
  /* transition:
      color 1s ease,
      background-color 1s ease; */

  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-root);
  color: var(--font-color-root);
}

header {
  width: 100%;
}

.container {
  padding: 20px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-logo {
  width: 52px;
  border: 1px solid #000000;
  border-radius: 15%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--font-color-root);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #4dc4d6;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  display: flex;
  align-items: center;
  margin-top: 10%;
  font-size: 30px;
  margin-left: 8%;
  margin-right: 8%;
}

.text-content {
  font-family: Calibri;
  flex: 0.96;
  color: var(--font-color-root);
}

.text-content h1 {
  font-size: 60px;
  margin-top: 20px;
}

.text-content span {
  font-family: Calibri;
  color: #4dc4d6;
  font-size: 250%;
}
.h4 span {
  color: #4dc4d6;
  font-size: 250%;
}
.image-container {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab1 {
  display: inline-block;
  margin-left: 30px;
  font-family: Calibri;
  font-size: 85%;
}
@media only screen and (max-width: 880px) {
  .header-text {
    flex-direction: column-reverse;
    align-items: center;
  }

  .image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

/* Dark Mode Toggle */

.dark-mode-toggle {
  /* position: absolute;
  top: 0;
  right: 0;
  z-index: 999; */

  padding: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  background-color: var(--soft-white);
  color: black;

  border-radius: 10px;
}

.dark-mode-toggle:hover,
.dark-mode-toggle:focus {
  background-color: var(--font-color-root);
  color: var(--background-color-root);
}

.dark-mode-toggle:hover {
  cursor: pointer;
}

.dark-mode-toggle:focus {
  border: none;
  outline: none;
}

/*-----------About Me-----------*/

#about {
  padding: 30px 0;
  color: var(--font-color-root);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-family: Calibri;
  font-size: 60px;
  font-weight: 600;
  color: var(--font-color-root);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #4dc4d6;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #4ca5b3;
  font-size: 16px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*-----------Experience-----------*/

#experience {
  padding: 30px 0;
}

.divider {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 60% 39%;
}
.divider2 {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 35% 65%;
}
.col {
  font-family: Calibri;
  width: calc(100% - 1rem);
  height: 100%;
}

.card {
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--background-card-root);
}

.exp {
  color: var(--font-color-root);
}
@media only screen and (min-width: 900px) {
  .sticky-helper {
    position: sticky;
    top: 0;
    padding-top: 1rem;
    background-color: var(--background-color-root);
  }
}

@media only screen and (max-width: 650px) {
  .divider {
    display: flex;
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .sticky-helper {
    margin-top: 40px;
    width: 100%;
  }

  .card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}

/*-----------Projects-----------*/

#projects {
  padding: 30px 0;
}

.projects-list {
  font-family: Calibri;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.projects-list div {
  font-family: Calibri;
  background: var(--background-card-root);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.projects-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.projects-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.projects-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}

.projects-list div a i {
  font-size: 26px;
  margin-bottom: 0;
  margin-right: 5px;
}

.projects-list div a:hover {
  color: #000000;
}

.projects-list div:hover {
  background: #4dc4d6;
  transform: translateY(-10px);
}

/*-----------Contact-----------*/

#contact {
  margin-top: 30px;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #4dc4d6;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #4dc4d6;
  transform: translateY(-5px);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--background-card-root);
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.btn {
  display: inline-block;
  background: #4dc4d6;
  font-size: 18px;
  margin: 50px auto;
  margin-top: 20px;
  width: fit-content;
  border: 1px solid #4dc4d6;
  padding: 14px 60px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #4ca5b3;
  cursor: pointer;
}

#msg {
  color: #61b752;
  margin-top: -30px;
  display: block;
}

/*-----------Footer-----------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #262626;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 0;
  color: #fff;
}

.footer i {
  color: #4dc4d6;
}

/*-----------CSS for Smaller Screen-----------*/

nav .fas {
  display: none;
}

@media only screen and (max-width: 650px) {
  .header-text {
    text-align: center;
    font-size: 25px;
  }

  .header-text h1 {
    font-size: 50px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul {
    background: #4dc4d6;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .footer {
    font-size: 14px;
  }
}

/*-----------Hobbies-----------*/

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.subtitle-a {
  text-decoration: none;
  color: #ffffff;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.blog-wrapper {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .card-blog {
    margin-bottom: 30px;
  }
}

.card-blog .card-body {
  position: relative;
}

.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #127cf5;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.card-blog .card-description {
  color: #4e4e4e;
}

.card-blog {
  display: inline-block;
}

.card-blog {
  color: #4e4e4e;
  display: inline-block;
}

.blog-wrapper {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .blog-wrapper {
    font-size: 1.9rem;
  }
}

.blog-wrapper {
  margin: 1rem 0;
}

.blog-wrapper {
  border-left: 4px solid #0078ff;
  margin-top: 1rem;
}

.blog-wrapper {
  display: inline-block;
  margin-left: 15px;
}

.blog-wrapper {
  color: #0078ff;
}

.blog-wrapper {
  color: #1e1e1e;
}

.blog-wrapper {
  border-left: 4px solid #0078ff;
  padding: 18px;
  font-style: italic;
}

/*------- Blog -----------*/
.text-content p span {
  color: #4dc4d6;
  font-family: monospace;
  letter-spacing: 0.15em;
  font-size: 100%;
}
.info {
  padding: 30px 15%;
  color: var(--font-color-root);
  font-family: monospace;
  letter-spacing: 0.1em;
  font-size: 150%;
  text-align: justify;
}
.info span {
  font-size: 70%;
  margin-left: 2em;
}

.info form {
  font-size: 90%;
}
.contact2-left {
  flex-basis: 45%;
}

.contact2-right {
  flex-basis: 50%;
  margin-left: 40px;
}

.contact2-left p {
  margin-top: 20px;
  font-size: 20px;
}

.contact2-left p i {
  color: #4dc4d6;
  margin-right: 15px;
  font-size: 20px;
}
/* DEMO-SPECIFIC STYLES */
.typewriter {
  color: var(--font-color-root);
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*-----------Map-----------*/

#map {
  height: 500px;
  width: 75%;
  margin: auto;
}

/* Button */

.button {
  display: inline-block;
  background: none;
  font-size: 1rem;
  font-weight: bold;

  border: 1px solid;
  border-color: #4dc4d6;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;

  text-align: center;
  color: inherit;
  text-decoration: none;
}

.button:hover,
.button:focus,
.button-selected {
  background-color: #4dc4d6;
  color: var(--soft-white);
  cursor: pointer;
  transform: translateY(-4px);
}

.button:focus {
  border: none;
  outline: none;
}

.button-block {
  display: block;
  margin-bottom: 1em;
}

@media only screen and (max-width: 900px) {
  .buttons > .button {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* --- Hobbies --- */

.card2 {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 25rem;
}

.card__side {
  height: 25rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--front-1 {
  background: linear-gradient(-45deg, var(--background-card-root), #4dc4d6);
}

.card__side--front-2 {
  background: linear-gradient(-45deg, #f321d7, #ffec61);
}

.card__side--front-3 {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, #4dc4d6, var(--background-card-root));
}

.card__side--back-2 {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.card__side--back-3 {
  background: linear-gradient(-45deg, #9a4eff, #24ff72);
}

.card2:hover .card__side--front-1,
.card2:hover .card__side--front-2,
.card2:hover .card__side--front-3 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card2:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__title {
  height: 20rem;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__title--1 .fas {
  font-size: 5rem;
}

.card__title--2 .fas {
  font-size: 5rem;
}

.card__title--3 .fas {
  font-size: 5rem;
}

.card__heading {
  font-family: Calibri;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  font-family: Calibri;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.row2 {
  max-width: 114rem;
  margin: 0 auto;
}

.row2:not(:last-child) {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.row2::after {
  content: "";
  display: table;
  clear: both;
}

.row2 [class^="col-"] {
  float: left;
}

.row2 [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row2 .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.miscard {
  border: 1px solid #4dc4d6;
  border-radius: 10px;
  font-family: Calibri;
  font-size: 120%;
  color: var(--font-color-root);
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  /* margin-top: 5rem; */
}

.misc {
  font-family: Calibri;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.miscard ul {
  list-style: none;
}
.miscard ul li {
  text-align: justify;
  margin-left: 30px;
}
.miss {
  text-align: justify;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 95%;
}

.image-container2 {
  height: 23rem;

  /*
  border: 1px solid #333333;
  overflow: hidden;
  margin-left: 3.5rem; */
}
.image-container2 img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #333333;
  height: 100%;
}
