<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/download.png" type="image/x-icon" />
    <title>Sahiti Gabrani</title>
    <script
      src="https://kit.fontawesome.com/1690528c5b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <a href="/">
            <img src="./static/img/download.png" class="nav-logo" />
          </a>
          <ul id="sidemenu">
            <li><a href="/#about">About Me</a></li>
            <li><a href="/#experience">Work Experience</a></li>
            <li><a href="/#projects">Projects</a></li>
            <li><a href="/hobbies">Hobbies</a></li>
            <li><a href="/#contact">Contact Me</a></li>
            <li>
              <button
                class="dark-mode-toggle"
                onclick="toggleDarkMode()"
                aria-label="dark mode toggle button"
              >
                <span class="fa fa-fw fa-cloud-sun"></span>
              </button>
            </li>
            <i class="fas fa-times" onclick="closemenu()"></i>
          </ul>
          <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
      </div>
    </header>

    <div class="container">
      <h1 class="sub-title">Hobbies</h1><br><br>
      <div class="row2">
        <div class="col-1-of-3">
          <div class="card2">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--1">
                <i class="fas fa-birthday-cake"></i><br>
                <h4 class="card__heading">Baking</h4>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                I've been baking with my mom since I was old enough to stand, and I even took professional classes in middle school for bakery items and donuts!
              </div>
            </div>
          </div>
        </div>

        <div class="col-1-of-3">
          <div class="card2">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--2">
                <i class="fas fa-plane"></i><br>
                <h4 class="card__heading">Travel</h4>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
              </div>
            </div>
          </div>
        </div>

        <div class="col-1-of-3">
          <div class="card2">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--3">
                <i class="fas fa-paint-brush"></i><br>
                <h4 class="card__heading">Painting</h4>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
    <!-----------Footer----------->
    <div class="footer">
      <p>Made by Sahiti Gabrani <i class="fa-solid fa-heart"></i></p>
    </div>

    <script>
      var tablinks = document.getElementsByClassName("tab-links");
      var tabcontents = document.getElementsByClassName("tab-contents");

      function opentab(tabname) {
        for (tablink of tablinks) {
          tablink.classList.remove("active-link");
        }

        for (tabcontent of tabcontents) {
          tabcontent.classList.remove("active-tab");
        }

        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
      }
    </script>

    <script>
      var sidemenu = document.getElementById("sidemenu");

      function openmenu() {
        sidemenu.style.right = "0";
      }

      function closemenu() {
        sidemenu.style.right = "-200px";
      }
    </script>

    <script>
      const scriptURL = "<SCRIPT URL>";
      const form = document.forms["submit-to-google-sheet"];
      const msg = document.getElementById("msg");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then((response) => {
            msg.innerHTML = "Message sent successfully!";
            setTimeout(function () {
              msg.innerHTML = "";
            }, 5000);
            form.reset();
          })
          .catch((error) => console.error("Error!", error.message));
      });
    </script>
    <script>
      // light and dark mode
      let darkMode = false;
      let rootStyle = getComputedStyle(document.body);

      function setDarkMode(newMode) {
        rootStyle = getComputedStyle(document.body);
        document.documentElement.style.setProperty(
          "--font-color-root",
          rootStyle.getPropertyValue(`--font-color-${newMode}-mode`)
        );
        document.documentElement.style.setProperty(
          "--font-em-color-root",
          rootStyle.getPropertyValue(`--font-em-color-${newMode}-mode`)
        );
        document.documentElement.style.setProperty(
          "--background-color-root",
          rootStyle.getPropertyValue(`--background-color-${newMode}-mode`)
        );
        document.documentElement.style.setProperty(
          "--background-card-root",
          rootStyle.getPropertyValue(`--background-card-${newMode}-mode`)
        );
      }
      function toggleDarkMode() {
        if (darkMode) {
          // switch to light
          setDarkMode("light");
        } else {
          // switch to dark
          setDarkMode("dark");
        }
        darkMode = !darkMode;
      }

      // event listener for light/dark mode switch
      const darkModeMediaQuery = window.matchMedia(
        "(prefers-color-scheme: dark)"
      );
      darkModeMediaQuery.addListener((e) => {
        const darkModeOn = e.matches;
        console.log(`Dark was toggled to ${darkModeOn ? "🌒 on" : "☀️ off"}.`);
        toggleDarkMode();
      });
    </script>
  </body>
</html>
