<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <title>Hobbies</title>
</head>

<body style="background-color: black;">
    <div class="container">
        <nav>
            <a href="/">
                <img src="./static/img/logo.svg" class="nav-logo"/>
            </a>
            <ul>
                <li><a href="/">About Me</a></li>
                <li><a href="/">Work Experience</a></li>
                <li><a href="/">Projects</a></li>
                <li><a href="#">Hobbies</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </div>
    
<!-- HOBBIES SECTION -->
    <section id="blog">
        <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box text-center">
                  <h3 class="title-a">
                    Hobbies
                  </h3>
                  <p class="subtitle-a">
                  other fun things besides computer science...
                  </p>
                  <div class="line-mf"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card card-blog">
                  <div class="card-img">
                    <img src="./static/img/logo.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <div class="card-category-box">
                      <div class="card-category">
                        <h6 class="category">Travel</h6>
                      </div>
                    </div>
                    <h3 class="card-title">i loveee to travel</h3>
                    <p class="card-description">
                      Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                      a pellentesque nec,
                      egestas non nisi.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-blog">
                  <div class="card-img">
                    <img src="./static/img/logo.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <div class="card-category-box">
                      <div class="card-category">
                        <h6 class="category">Gym</h6>
                      </div>
                    </div>
                    <h3 class="card-title">Being active is a must</h3>
                    <p class="card-description">
                      Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                      a pellentesque nec,
                      egestas non nisi.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-blog">
                  <div class="card-img">
                    <img src="./static/img/logo.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="card-body">
                    <div class="card-category-box">
                      <div class="card-category">
                        <h6 class="category">Films</h6>
                      </div>
                    </div>
                    <h3 class="card-title">nothing better than going to the cinema</h3>
                    <p class="card-description">
                      Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                      a pellentesque nec,
                      egestas non nisi.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <!-- HOBBIES SECTION ENDS -->
</body>
</html>