<!-- <?php
//get data from form  

$name = $_POST['name'];
$email= $_POST['email'];
$message= $_POST['message'];
$to = "sahitigabrani@gmail.com";
$subject = "Mail From Portfolio website";
$txt ="Name = ". $name . "\r\n  Email = " . $email . "\r\n Message =" . $message;
$headers = "From:" . $email;
// if($email!=NULL){
    mail($to,$subject,$txt,$headers);
// }
//redirect
// header("Location:thankyou.html");
?> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/download.png" type="image/x-icon" />
    <title>Sahiti Gabrani</title>
    <script
      src="https://kit.fontawesome.com/1690528c5b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header style="height: 100vh">
      <div class="container">
        <nav>
          <a href="/">
            <img src="./static/img/download.png" class="nav-logo" />
          </a>
          <ul id="sidemenu">
            <li><a href="#about">About Me</a></li>
            <li><a href="#experience">Work Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="/hobbies">Hobbies</a></li>
            <li><a href="#contact">Contact Me</a></li>
            <li>
              <button
                class="dark-mode-toggle"
                onclick="toggleDarkMode()"
                aria-label="dark mode toggle button"
              >
                <span class="fa fa-fw fa-cloud-sun"></span>
              </button>
            </li>
            <i class="fas fa-times" onclick="closemenu()"></i>
          </ul>
          <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>

        <div class="header-text">
          <div class="text-content">
            <p>Heyy! My name is</p>
            <h5><span>{{ name }}</span></h5>
            <p style="font-size: 65%">
              <br />
              Currently I am...
            </p>
            <p style="font-size: 75%">
              Junior, CS @ UCLA <br />
              SWE Intern @ Innodata <br />
              Production Engineering Fellow @ MLH
            </p>
          </div>
          <div class="image-container">
            <img src="./static/img/Gabrani_Sahiti.jpeg" alt="PROFILE_PICTURE" />
          </div>
        </div>
      </div>
    </header>

    <!-----------About Me----------->
    <div id="about">
      <div class="container">
        <h1 class="sub-title">About Me</h1>
        <div class="divider">
          <div class="col">
            <p style="padding-top: 20px; font-size: 125%">
              Software Developer looking to make an impact all the while meeting
              and learning from the interesting people around me. I'm in the
              process of doing my undergrad from UCLA as a Computer Science
              major. <br /><br />
              I'm spending the summer writing scripts in Python for my
              internship and learning crutial DevOps skills as an MLH Fellow. In
              my sparetime, you will find me making
              <a
                href="https://open.spotify.com/user/a5ffxi4wseorfbtd3c6r2u3ei?si=Gow0-Wf0Tvqi_s3LDmCDtw"
                target="_blank"
                style="color: #4dc4d6; text-decoration: none"
                >Spotify</a
              >
              playlists and attempting to paint my thoughts and feelings.<br /><br />
              Also, if you have the time, check out my
              <a
                href="/blog"
                target="_blank"
                style="color: #4dc4d6; text-decoration: none"
                >blog</a
              >!
            </p>

            <!--We can change these tabs to be other categories, like fun facts, coursework, etc-->
            <div class="tab-titles" style="padding-top: 20px">
              <p class="tab-links active-link" onclick="opentab('skills')">
                Skills
              </p>
              <p class="tab-links" onclick="opentab('achievements')">
                Achievements
              </p>
            </div>
            <div class="tab-contents active-tab" id="skills">
              <div class="divider2">
                <div class="col">
                  <ul>
                    <li>
                      <span>Python</span> <br />
                      Skill Level: Advanced
                    </li>
                    <li>
                      <span>C++</span> <br />
                      Skill Level: Intermediate
                    </li>
                    <li>
                      <span>React.js</span> <br />
                      Skill Level: Advanced
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>
                      <span>HTML/CSS</span> <br />
                      Skill Level: Advanced
                    </li>
                    <li>
                      <span>TypeScript</span> <br />
                      Skill Level: Intermediate
                    </li>
                    <li>
                      <span>Git</span> <br />
                      Skill Level: Advanced
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-contents" id="achievements">
              <ul>
                <li>
                  <span>UCLA APLUS Scholarship</span> <br />
                  Scholarship Endowment on my outstanding academic achievements!
                </li>
                <li>
                  <span>Aerospace Corporation Scholarship</span> <br />
                  Scholarship for intellectual interest and curiosity about
                  Space and compulsion to solve the related engineering
                  challenges.
                </li>
                <li>
                  <span>Hackathon Winner</span> <br />
                  Won track specific First Place and Best Idea overall in the
                  QWER Hacks 2023 in Los Angeles.
                </li>
              </ul>
            </div>

            <!-----------Experience----------->
            <!-- <div id="experience">
              <div class="container"> -->
            <h1 class="sub-title" style="padding-top: 100px">My Experience</h1>
            <div style="padding-top: 50px">
              <h2 style="color: #4dc4d6; padding-bottom: 10px">
                SWE Intern @ Innodata
              </h2>
              <h4 style="color: #4dc4d6; padding-bottom: 10px">
                Jun 2023 – Present
              </h4>
              <p class="exp">
                Improve workflow efficiency with Apache Nifi and Python for
                intelligent automation by writing scripts in Python.
              </p>
            </div>
            <div style="padding-top: 40px">
              <h2 style="color: #4dc4d6; padding-bottom: 10px">
                Site Reliability Engineering Fellow @ MLH
              </h2>
              <h4 style="color: #4dc4d6; padding-bottom: 10px">
                Jun 2023 – Present
              </h4>
              <p class="exp">
                Developing a portfolio website deployed on a Digital Ocean
                virtual server while making use of Linux, scripting, databases,
                containers, while handling testing, continuous integration,
                monitoring, & troubleshooting
              </p>
            </div>
            <div style="padding-top: 40px">
              <h2 style="color: #4dc4d6; padding-bottom: 10px">
                Web Developer @ Henry Samueli School of Engineering
              </h2>
              <h4 style="color: #4dc4d6; padding-bottom: 10px">
                Jul 2022 – Sep 2022
              </h4>
              <p class="exp">
                Leveraged technical skills in WordPress development, HTML, CSS,
                and JavaScript to create a dynamic and responsive website for a
                major civil engineering conference.
              </p>
            </div>
          </div>
          <div class="col">
            <div class="sticky-helper">
              <div class="card">
                <p style="padding-bottom: 10px">
                  More detailed info about my experience!
                </p>
                <a
                  class="button button-block"
                  href="./static/files/Purple Resume.pdf"
                  target="_blank"
                >
                  <span class="fa fa-file-alt"></span> Résumé
                </a>
                <a
                  class="button button-block"
                  href="https://www.linkedin.com/in/sahiti-gabrani/"
                  target="_blank"
                >
                  <span class="fab fa-linkedin"></span> LinkedIn
                </a>
                <a
                  class="button button-block"
                  href="https://github.com/sgabrani"
                  target="_blank"
                >
                  <span class="fab fa-github"></span> GitHub
                </a>
                <p>
                  If you want to know more, email me at
                  <a href="/" style="color: #4dc4d6; text-decoration: none"
                    >email</a
                  >
                </p>
              </div>
            </div>
            <!-- </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-----------Projects----------->
    <!--Change the github repository links to your project repo links-->
    <div id="projects">
      <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <div class="projects-list">
          <div>
            <i class="fa-solid fa-code"></i>
            <h2>Only Swipes</h2>
            <p>
              An online marketplace for meal swipes for UCLA Students using
              React.js and Firebase. Developed a real-time chat system for
              seamless communication and used the Chakra UI library for a
              cohesive user experience.
            </p>
            <a href="https://github.com/sgabrani/only-swipes" target="_blank"
              ><i class="fa-brands fa-github"></i> GitHub Repository</a
            >
          </div>
          <div>
            <i class="fa-solid fa-crop-simple"></i>
            <h2>Bruin Meals</h2>
            <p>
              A random dish generator for UCLA Students that takes into account
              your dietery restrictions for when you can't decide what to eat! I
              utilized Python and the Beautiful Soup library to perform web
              scraping for over 600 dishes from the UCLA menu website and store
              data in CSV files.
            </p>
            <a href="https://github.com/" target="_blank"
              ><i class="fa-brands fa-github"></i> GitHub Repository</a
            >
          </div>
          <div>
            <i class="fa-brands fa-app-store"></i>
            <h2>Covid-19 Tracker Website</h2>
            <p>
              Created a dynamic website that served as a reliable source of
              Covid-19 statistics for users in India and its districts by
              retrieving and presenting data from a REST API in charts using
              HTML/CSS and JavaScript.
            </p>
            <a href="https://github.com/" target="_blank"
              ><i class="fa-brands fa-github"></i> GitHub Repository</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-----------Contact----------->
    <div id="contact">
      <div class="container">
        <div class="row">
          <div class="contact-left">
            <h1 class="sub-title">Contact Me</h1>
            <p><i class="fas fa-envelope"></i> sgabrani@ucla.edu</p>
            <p><i class="fas fa-paper-plane"></i> sahitigabrani@gmail.com</p>
            <div class="social-icons">
              <!--<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>-->
              <a
                href="https://www.linkedin.com/in/sahiti-gabrani/"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                href="https://www.instagram.com/sahiti_gabrani/?next=%2F"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://github.com/sgabrani" target="_blank"
                ><i class="fa-brands fa-github"></i
              ></a>
            </div>
          </div>
          <div class="contact-right">
            <!-- <form name="submit-to-google-sheet"> -->
            <form method="post" action="/mail.php">
              <label for="name">Your Name</label>
              <input type="text" name="Name" placeholder="Your Name" required />

              <label for="lname">Email</label>
              <input
                type="email"
                name="Email"
                placeholder="Your Email"
                required
              />

              <label for="message">Message</label>
              <textarea
                name="Message"
                rows="6"
                placeholder="Your Message"
              ></textarea>
              <button type="submit" class="btn">Submit</button>
              <!-- <input type="submit" value="Submit" /> -->
            </form>
            <span id="msg"> </span>
          </div>
        </div>
      </div>
    </div>

    <!-----------Footer----------->
    <div class="footer">
      <p>Made by {{ name }} <i class="fa-solid fa-heart"></i></p>
    </div>

    <script>
      var tablinks = document.getElementsByClassName("tab-links");
      var tabcontents = document.getElementsByClassName("tab-contents");

      function opentab(tabname) {
        for (tablink of tablinks) {
          tablink.classList.remove("active-link");
        }

        for (tabcontent of tabcontents) {
          tabcontent.classList.remove("active-tab");
        }

        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
      }
    </script>

    <script>
      var sidemenu = document.getElementById("sidemenu");

      function openmenu() {
        sidemenu.style.right = "0";
      }

      function closemenu() {
        sidemenu.style.right = "-200px";
      }
    </script>

    <script>
      const scriptURL = "<SCRIPT URL>";
      const form = document.forms["submit-to-google-sheet"];
      const msg = document.getElementById("msg");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then((response) => {
            msg.innerHTML = "Message sent successfully!";
            setTimeout(function () {
              msg.innerHTML = "";
            }, 5000);
            form.reset();
          })
          .catch((error) => console.error("Error!", error.message));
      });
    </script>
    <script>
      // light and dark mode
      let darkMode = false;
      let rootStyle = getComputedStyle(document.body);

      function setDarkMode(newMode) {
        rootStyle = getComputedStyle(document.body);
        document.documentElement.style.setProperty(
          "--font-color-root",
          rootStyle.getPropertyValue(`--font-color-${newMode}-mode`)
        );
        document.documentElement.style.setProperty(
          "--font-em-color-root",
          rootStyle.getPropertyValue(`--font-em-color-${newMode}-mode`)
        );
        document.documentElement.style.setProperty(
          "--background-color-root",
          rootStyle.getPropertyValue(`--background-color-${newMode}-mode`)
        );
        document.documentElement.style.setProperty(
          "--background-card-root",
          rootStyle.getPropertyValue(`--background-card-${newMode}-mode`)
        );
      }
      function toggleDarkMode() {
        if (darkMode) {
          // switch to light
          setDarkMode("light");
        } else {
          // switch to dark
          setDarkMode("dark");
        }
        darkMode = !darkMode;
      }

      // event listener for light/dark mode switch
      const darkModeMediaQuery = window.matchMedia(
        "(prefers-color-scheme: dark)"
      );
      darkModeMediaQuery.addListener((e) => {
        const darkModeOn = e.matches;
        console.log(`Dark was toggled to ${darkModeOn ? "🌒 on" : "☀️ off"}.`);
        toggleDarkMode();
      });
    </script>
  </body>
</html>
