<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ name }}'s Portfolio</title>
    <script
      src="https://kit.fontawesome.com/1690528c5b.js"
      crossorigin="anonymous"
    ></script>

    <style>
      .timeline-post {
        margin-bottom: 20px;
      }

      .timeline-post .timestamp {
        font-size: 12px;
        color: #777;
      }

      .timeline-post .user-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Timeline</h1>
      <br />
      <form id="form">
        <h2>Create a New Post!</h2>
        <br />
        <div>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            required
          />
        </div>
        <div>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div>
          <textarea
            id="content"
            name="content"
            placeholder="Comment"
            required
          ></textarea>
        </div>
        <button type="submit" class="button">Post</button>
      </form>
      <br />
      <div id="timeline-posts"></div>
      <h2>Timeline Posts Testing</h2>
      <div id="posts-container" class="mt-3"></div>

      <button class="button" onclick="showList()">Show Posts</button>
      <ul></ul>
    </div>
    <script>
      function showList() {
        fetch("/api/timeline_post")
          .then((response) => response.json())
          .then((data) => createList(data));
      }

      function createList(data) {
        const mainUL = document.createElement("ol");
        for (let i = data.timeline_posts.length - 1; i >= 0; i--) {
          const studentLI = document.createElement("li");
          studentLI.innerHTML = createCard1(
            data.timeline_posts[i].name,
            data.timeline_posts[i].email,
            data.timeline_posts[i].content,
            data.timeline_posts[i].id
          );
          mainUL.appendChild(studentLI);
        }
        // append mainUL to body
        document.body.appendChild(mainUL);
      }
      const createCard1 = (name, email, content, id) => {
        return `           
                    <div class="card">
                            <h5>${name}</h5>
                            <small class="block">&lt;${email}&gt;</small>
                        <p class="py-4 px-4 my-3 bg-slate-100 rounded-lg">${content}.</p>
                    </div>
            `;
      };

      const form = document.getElementById("form");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        // Create payload as new FormData object:
        const payload = new FormData(form);
        // Post the payload using Fetch:
        fetch("/api/timeline_post", {
          method: "POST",
          body: payload,
        })
          .then((res) => res.json())
          .then((data) => console.log(data));
      });
    </script>
    <!-----------Footer----------->
    <div class="footer">
      <p>Made by Sahiti Gabrani <i class="fa-solid fa-heart"></i></p>
    </div>
  </body>
</html>
